---
import Layout from '../layouts/Layout.astro';
import { sanityClient } from 'sanity:client';
import Leaderboard from '@/components/Leaderboard';

const authors = await sanityClient.fetch<
  { id: string; name: string; poops: number; image: any }[]
>(`*[_type == "author"]{'id': _id, name, 
  "poops": count(*[_type == "poop" && references(^._id)]),
  image
} | order(poops desc)`);
const poops = await sanityClient.fetch(
  `*[_type == "poop"]{createdAt} | order(createdAt desc)`
);
---

<Layout title="Welcome to Poops.">
  <div>
    <h1 class="sm:text-4xl text-2xl text-center mb-8">
      💩 Counter: {poops.length}
    </h1>
    <h3 class="text-xs">
      Ultima actualización: {new Date(poops[0].createdAt).toLocaleString()}
    </h3>
    <Leaderboard authors={authors} client:load />
  </div>
</Layout>
