---
import { AuthorCard } from '@/components/AuthorCard';
import Layout from '../layouts/Layout.astro';
import { sanityClient } from 'sanity:client';
import imageUrlBuilder from '@sanity/image-url';

const builder = imageUrlBuilder(sanityClient);

const authors = await sanityClient.fetch<
  { name: string; poops: number; image: any }[]
>(`*[_type == "author"]{name, 
  "poops": count(*[_type == "poop" && references(^._id)]),
  image
} | order(poops desc)`);
const poops = await sanityClient.fetch(
  `*[_type == "poop"]{createdAt} | order(createdAt desc)`
);
console.log(poops);
---

<Layout title="Welcome to Poops.">
  <main class="w-1/2">
    <h1 class="text-4xl text-center mb-8">💩 Counter: {poops.length}</h1>
    <h3>
      Ultima actualización: {new Date(poops[0].createdAt).toUTCString()}
    </h3>
    {
      authors.map((author, i) => (
        <div class="mb-4">
          <AuthorCard
            name={author.name}
            poopCount={author.poops}
            position={i + 1}
            imageUrl={author.image && builder.image(author.image).url()}
          />
        </div>
      ))
    }
  </main>
</Layout>
